<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Uploaded users</h3>
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Flag</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="java.util.List<ru.javaops.masterjava.model.User>"*/-->
    <tr th:each="user : ${users}">
        <td th:text="${user.fullName}"></td>
        <td th:utext="${user.email}"></td>
        <td th:text="${user.flag}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>